<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Serato Playing Now</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css" />
  <style>
    :root {
      --neon-text-color: {{config.textColors.halo}};
      --text-color: {{config.textColors.fill}};
      --text-border: {{config.textColors.border}};
    }

    .helper {
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: var(--text-color);
      text-shadow: 0 0 4px var(--neon-text-color),
        0 0 32px var(--neon-text-color), 0 0 96px var(--neon-text-color);
    }

    @supports (-webkit-text-stroke: 2px var(--text-border)) {
      .helper {
        color: white;
        -webkit-text-stroke: 2px var(--text-border);
        -webkit-text-fill-color: var(--text-color);
      }
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
  <div class="helper">
    <div id="container" class="animate__animated">
      <div id="song" class=""></div>
      <div id="artist" class=""></div>     
    </div>
  </div>
  <script src="scripts/jquery.min.js"></script>
  <script>
  var currentSong = "";
  var aIn = "{{config.animation.in}}";
  var aOut = "{{config.animation.out}}";

  $(() => {
    fetchUpdates();
    setInterval(fetchUpdates, 5000);
  });

  function fetchUpdates() {
    $("#container").removeClass("hidden");
    $.getJSON("/api/current", (data) => {
      title = data.artist + " - " + data.title;
      if (currentSong != title) {
        currentSong = title;
        $("#container").removeClass(aIn).addClass(aOut);
        setTimeout(() => {
          $("#container").removeClass(aOut).addClass(aIn);
          $("#song").text(data.title);
          $("#artist").text(data.artist);
        }, 1500);
      }
    });
  }
</script>
</body>




</html>